<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>

    {{ if not .IsHome }}
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
				<a href="{{ .Site.Params.edit_page.repo_url }}/{{ .Site.Params.edit_page.edit_mode }}/{{ .Site.Params.edit_page.branch }} /{{ .Site.Params.edit_page.repo_dir }}/{{ .File }}">
                    <i class="fas fa-edit"></i> {{ .Site.Params.edit_page.edit_text }}
                </a>
			</li>
	    </ul>
	</div>
    {{ end }}
</nav>

