<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{.Site.Params.assets.bootswatch_cdn}}/{{.Site.Params.assets.bootswatch_version}}/{{.Site.Params.assets.bootswatch_theme}}/bootstrap.min.css">
  <link rel="stylesheet" href="{{.Site.Params.assets.fontawesome_cdn}}/{{.Site.Params.assets.fontawesome_version}}/css/all.min.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}main.css">
  <title>{{ .Site.Title }} {{ if not .IsHome }} | {{ .Title }}{{ end }}</title>
</head>
