.card-columns .card {
  border-radius: 1.0rem;
  background-color: aliceblue;
}

.navbar {
  background-color: aqua;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar-brand {
  font-weight: bold
}
